<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connections</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div th:fragment="connection(user, description)" class="container">
    <form action="#" th:action="@{/sendMoney}" th:object="${connection}" method="POST">
        <div class="pay-block">
            <div class="connection-block">
                <select name="connection" id="connection-select" required class="select-connection">
                    <option value="" selected>Select A Connection</option>
                    <option th:each="connection : ${user.getConnections()}"
                            th:value="${connection.getId()}"
                            th:text="${connection.getEmail()}"></option>
                </select>

                <div>
                    <input th:field="${description.description}" type="text" placeholder="Transaction description" style="width: 137px; height: 30px">
                </div>

                <div>
                    <div class="input-icon input-icon-right">
                        <input th:field="${sendMoneyForm.amount}" type="number" required step=".01" class="form-control" placeholder="0" style="width: 137px; height: 30px">
                        <i>€</i>
                    </div>
                </div>
                <button type="submit" class="pay-btn">Pay</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>