<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <link th:href="@{/styles/home/home.css}" rel="stylesheet" type="text/css"/>
    <title>Login custom</title>
</head>
<body class="hold-transition login-page">
<div style="display: flex; justify-content: space-between">
    <div style="text-align: center;
    background: linear-gradient( 0.25turn, #2ba71c, #9ebb2da6);
    border-radius: 8px;
    margin: 0 0 4px 4px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 14px;">Pay My Buddy
    </div>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">Transfer</a>
        <a href="#contact">Profile</a>
        <a href="#about">Contact</a>
        <a href="/logout">Log of</a>
    </div>
</div>

<div style="background-color: #f3f3f3;">
    <div style="margin-left: 16px" class="topnav">
        <a class="active" href="#home">Home / </a>
        <a href="#news">Transfer</a>
    </div>

</div>

<!--CONNECTIONS-->
<div class="title-block">
    <div class="send-money-block">
        <div style="font-size: 30px; font-weight: 600;">Send Money</div>
        <button class="connection-btn">Add Connection</button>
    </div>
    <div th:replace="connection :: connection(${user})"></div>
</div>

<!--TRANSACTIONS-->
<div th:replace="transaction :: transaction(${transactions}, ${totalPages}, ${currentPage})"></div>

</body>
</html>